* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.sec1 {
    background-color: #1F2937;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.sec1 ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15%;
}


#logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#logo img {
    max-width: 100px;
    max-height: 50px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px 15%;
    align-items: center;
    gap: 20px;
}

img {
    height: 250px;
    width: auto;
    overflow: hidden;
    
}

.left {
    flex-basis: 400px;
}

.left h3 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.left p {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    padding: 5px 25px;
    margin-top: 10px;
}

a:hover {
    background-color: white;
    border-radius: 10%;
    color: black;
}

/*   SECTION TWO   */

.sec2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 350px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15%;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.item img {
    width: 130px;
    height: 100px;
    border-radius: 10%;
    border: 3px solid rgb(119, 3, 3)
}

.sec2 h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
}

.item {
    width: 130px;
    height: max-content;
    text-align: center;
    flex-grow: 1;
}


/*   SECTION THREE   */

.sec3 {
    min-height: 350px;
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25%;

}

.sec3 p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

#lastp {
    align-self: flex-end;
    font-weight: bold;
}


/*   SECTION FOUR   */

.sec4 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    padding: 25px 10%;
    border-radius: 5px;
    justify-content: space-evenly;
    gap: 20px;
}

.Signup {
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.action h3, h6 {
    color: white;
}




/*   FOOTER   */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 50px;
}

footer {
    color: #E5E7EB;
}